<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/bstyle.css">
        <title>XML - GAZETTE</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="login-container bg-light">
                <form action="/authentification" method="post">
                    <div class="text-center">
						<span class="form-legend text-primary">Gazette</span>
                        <h2 class="text-primary">Account activation</h2>
                    </div>
                    <div class="text-center">
                        <small>Please, check your email to get the code.</small>
                    </div>
                    <br>
                    <div>
                        <input type="code" id="code" name="code" class="login-input" placeholder="Enter the code here">
                    </div>
                    <center><small id="error" style="color: red;"></small></center>
                    <br>
                    <div class="text-center">
                        <button type="submit" id="submitbtn" class="btn login-btn"><B class="text-white">SUBMIT</B></button>
                    </div>
                    <br>
                    <div class="text-center">
                        <label>Sending mail maybe take a few moments. Please, wait. </label><br>
                        <label>If you can't receive email, please verify our email input. </label>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            function heading(url) {
                window.location.href = url;
            }

            document.forms[0].onsubmit = function(e) {
                // inputs
                for (const input of document.querySelectorAll('input')) {
                    input.classList.remove('is-invalid');
                    if (input.nextSibling) {
                        input.nextSibling.remove();
                    }
                    if (input.type === 'text') {
                        if (input.value.trim().length === 0) {
                            addWarning(input, 'This field is required.');
                        }
                    } else if (input.type === 'password') {
                        if (input.id === 'password' && input.value.length < 4)
                            addWarning(input, 'The password must be at least 4 characters.');
                        if (input.id === 'confirmation') {
                            if (input.value.length === 0)
                                addWarning(input, 'This field is required.');
                            else if (input.value !== document.getElementById('password').value)
                                addWarning(input, 'Your confirmation is invalid.');
                        }
                    } else if (input.type === 'email') {
                        if (input.value.trim().length === 0)
                            addWarning(input, 'This field is required.');
                        else {
                            if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(input.value)))
                                addWarning(input, 'You have entered an invalid email address!');
                        }
                    }
                }
                // verifier les erreur
                let validate = true;
                for (const input of document.querySelectorAll('input')) {
                    if (input.classList.contains('is-invalid')) {
                        validate = false;
                        break;
                    }
                }
                if (!validate) e.preventDefault();
            }
            
            function addWarning(input, message) {
                let small = document.createElement('small');
                small.innerText = message;
                small.className = 'text-danger';
                input.after(small);
                input.classList.add('is-invalid');
            }
            var errorfield = document.getElementById("error");
            if ("<%= err %>" == "null"){
                errorfield.remove();
            }
            else{
                errorfield.innerHTML = "<%= err %> ";
            }
        </script>
    </body>
</html>
